$text-size-xl: 1.5rem;
$text-size-l: 1.2rem;
$text-size-m: 1rem;
$text-size-s: 0.8rem;

$navbar-background-color: #eeeeee;
$navbar-link-color: #000;
$auth-form-submit-button-text-color: #fff;
$auth-form-submit-button-background-color: green;

$search-form-height: 350px;
$search-form-width: 680px;
$search-form-background-color: cadetblue;
$search-form-input-height: 2.5rem;
$search-form-input-background-color: #fff;
$search-form-border-color: lightgray;
$search-side-panel-background-color: #f6f6f6;

$search-form-primary-color: #000;
$search-form-secondary-color: grey;
$search-form-disabled-color: darkgray;
$search-form-placeholder-color: darkgray;