$text-size-xl: 1.5rem;
$text-size-l: 1.2rem;
$text-size-m: 1rem;
$text-size-s: 0.8rem;

$error-color: #c0392b;
$primary-text-color: #2c3e50;

$navbar-background-color: #e67e22;
$navbar-primary-color: #ecf0f1;
$navbar-height: 4rem;
$auth-form-submit-button-text-color: #ecf0f1;
$auth-form-submit-button-background-color: #27ae60;

$search-form-height: 350px;
$search-form-width: 680px;
$search-form-background-color: #e67e22;
$search-form-input-height: 2.5rem;
$search-form-date-input-height: 3.5rem;
$search-form-input-background-color: #ecf0f1;
$search-form-border-color: lightgray;
$search-side-panel-background-color: #ecf0f1;

$search-form-primary-color: #2c3e50;
$search-form-secondary-color: #34495e;
$search-form-disabled-color: darkgray;
$search-form-placeholder-color: darkgray;

$footer-background-color: #e67e22;
$footer-height: 4rem;
$footer-text-color: #ecf0f1;