@import "../Assets/variables.scss";

.flightSearchPanel {
  height: $search-form-height;
  width: $search-form-width;
  display: grid;
  grid-template-columns: 50% 50%;
  color: $search-form-primary-color;

  .secondary {
    font-size: $text-size-m;
    color: $search-form-secondary-color;
  }

  form {
    background-color: $search-form-background-color;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 1rem;

    .invalid {
      border: 2px solid red;
      border-radius: 5px;
    }

    input,
    .button {
      height: $search-form-input-height;
      box-shadow: none;
      border-radius: 0;
      outline: none;
      border: none;
      font-size: $text-size-l;
      background-color: $search-form-input-background-color;

      &::placeholder {
        color: $search-form-placeholder-color;
      }
    }

    .button {
      user-select: none;
      cursor: pointer;

      & > span {
        line-height: $search-form-input-height;
        vertical-align: middle;
      }
    }

    input[type="text"] {
      padding-left: 1rem;
    }

    input[type="submit"] {
      color: $search-form-primary-color;
      cursor: pointer;
    }

    .searchLocations {
      display: flex;
      flex-flow: column;

      & > div {
        position: relative;
        display: flex;

        input:first-child {
          margin-bottom: 5px;
        }

        input {
          width: 100%;
          cursor: default;
        }

        .airportCode {
          position: absolute;
          right: 5px;
          bottom: 10px;
          user-select: none;
          font-size: $text-size-s;
          color: $search-form-secondary-color;
        }
      }
    }

    .searchDates {
      display: flex;
      justify-content: space-between;
      position: relative;

      .invalid {
        border: 2px solid red;
        border-radius: 5px;
      }

      span {
        line-height: 1rem;
        margin: 0.5rem 0 0 1rem;
        text-align: left;
        display: block;

        &.secondary {
          font-weight: bold;
          margin: 0.5rem 0 0 0.5rem;
        }
      }

      div {
        width: 50%;
        height: $search-form-date-input-height;

        &:first-child {
          margin-right: 5px;
        }
      }
    }
  }

  .sidePanel {
    background-color: $search-side-panel-background-color;
    padding: 1rem 1rem;
    overflow-y: scroll;
    animation: 0.3s ease-out 0s 1 slideInFromLeft;

    ul {
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        div {
          margin: 1rem 0;

          &:nth-child(1) {
            margin-top: 0;
          }
        }
      }
    }

    .noResults {
      padding-top: 50%;
    }

    &.airportsList {
      .country {
        font-size: $text-size-l;
        font-weight: bold;
        text-align: left;
        cursor: default;
      }

      .airport {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0.2rem 0.5rem;
        cursor: pointer;

        .airportName {
          font-size: $text-size-m;
        }

        .airportCode {
          font-size: $text-size-s;
          color: $search-form-secondary-color;
          position: absolute;
          bottom: 5px;
          right: 0.5rem;
        }

        &:hover {
          background-color: lighten($search-side-panel-background-color, 30%);
        }
      }
    }

    &.passengers {
      div {
        margin: auto;
        height: $search-form-input-height;
        width: 80%;
        display: flex;
        justify-content: space-between;
        margin: 2rem;
        border: 2px solid $search-form-border-color;
        background-color: $search-form-input-background-color;

        button {
          color: $search-form-primary-color;
          font-size: $text-size-l;
          background-color: $search-form-input-background-color;
          border-radius: 0;
          outline: none;
          border: none;
          width: $search-form-input-height;
          height: $search-form-input-height;
          cursor: pointer;

          &:active {
            outline: none;
          }

          &:hover {
            background-color: darken($search-form-input-background-color, 5%);
          }

          &.disabled {
            color: $search-form-disabled-color;
            cursor: default;

            &:hover {
              background-color: $search-form-input-background-color;
            }
          }
        }

        span {
          margin: auto;
          font-size: $text-size-l;
          user-select: none;
        }
      }
    }
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-75%);
    opacity: 0%;
  }
  75% {
    opacity: 10%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
