@import "../Assets/variables.scss";

.flightDetails {
  border: 3px solid $primary-background-color;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 25% 20% 25% 15% 15%;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  color: $secondary-text-color;

  .book-btn {
    background-color: $primary-background-color;
    font-size: $text-size-m;
    cursor: pointer;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: darken($primary-background-color, 5%);
    }

    div {
      color: $secondary-text-color;

      &:first-child {
        margin-bottom: 0.5rem auto 0.5rem auto;
        font-size: $text-size-l;
        font-weight: bolder;
      }

      &:last-child {
        font-size: $text-size-m;
      }
    }
    border-radius: 1rem;
  }
}
