@import "../Assets/variables.scss";

.localWeather {
  display: inline-block;
  color: $navbar-primary-color;
  font-size: $text-size-s;

  span {
    color: $navbar-primary-color;
    font-weight: bolder;
  }
}
