@import "../Assets//variables.scss";

.navbar {
  user-select: none;
  height: $navbar-height;
  
  ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: $text-size-xl;
    list-style: none;
    background-color: $navbar-background-color;

    li {
      display: inline-block;
      padding: 1rem;
    }
    a,
    &:visited {
      color: $navbar-link-color;
      text-decoration: none;

      &:active,
      &:hover {
        color: darken($navbar-link-color, 10%);
      }
    }
  }
}
