@import "../../Assets/variables.scss";

.passengers {
  div {
    margin: auto;
    height: $search-form-input-height;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    border: 2px solid $search-form-border-color;
    background-color: $search-form-input-background-color;

    button {
      color: $search-form-primary-color;
      font-size: $text-size-l;
      background-color: $search-form-input-background-color;
      border-radius: 0;
      outline: none;
      border: none;
      width: $search-form-input-height;
      height: $search-form-input-height;
      cursor: pointer;

      &:active {
        outline: none;
      }

      &:hover {
        background-color: darken($search-form-input-background-color, 5%);
      }

      &.disabled {
        color: $search-form-disabled-color;
        cursor: default;

        &:hover {
          background-color: $search-form-input-background-color;
        }
      }
    }

    span {
      margin: auto;
      font-size: $text-size-l;
      user-select: none;
    }
  }
}
